@import url(reset.css);
/* lien vers google font pour la typographie */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    font-size: 62.5%;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a,h1 {
    font-family:"lora";
}

h2 {
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}

header {
    /* dans le header japplique le dispaly avec la valeur flex afin de gérer l'emplacement de mes éléments sur l'axe principal ( horizontale) et l'axe secondaire (axe vertical)*/
    display:flex;
    justify-content: space-between;
    background-color: black;
    border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
    box-shadow: 0.4rem .8rem rgba(0, 0, 0, .5);
    padding: 1rem 2rem;
    align-items: center;
}

header img {
    width: 60px;
}

/* j'applique le flex afin de centrer l'image dans l'élément a */
header > a {   
    display: flex;
    align-items: center;
}
header nav {
    display: flex;
}

header nav a {
    font-size: 1.6rem;
    color: gray;
    font-weight: bolder;
    text-transform: uppercase;
    margin-left: 4rem;
    transition: all linear 0.2s;
    
}

header nav a:hover {
    color: white;
    scale: 1.2;

}
/* *************************** FOOTER ********************* */

footer {
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    padding: 40px;
    color: white;
    border-top: 1rem solid rgba(255, 255, 255, 0.1);
    box-shadow: 0.4rem .8rem rgba(0, 0, 0, .5);
}
footer a {
    color: white;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    width: 33%;

}

footer ul:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}